@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete @Model.Name Data?</h1>
<br />
<div asp-validation-summary="All">

</div>

<form asp-action="Delete">
  <partial name="PartialViews/DeleteDetailsPartialView" />
    <br />

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-dark">Cancel</a>

</form>

